/* tabela */

table.tabela {
    font-size: 70%;
    font-family: Verdana;
    table-layout: fixed;
    width: 100%;
	margin: 0.6em 0em;

	border-bottom-width: 0.25em;
	border-bottom-color: rgb(0,102,51);
	border-bottom-style: solid;
	border-collapse: collapse; /* Evita espaços em branco entre células no IE*/
}

table.tabela tr.titulo,
table.tabela tr.titulo_cabecalho {
	color: #ffffff;
    background-color: rgb(64,140,102);
}

table.tabela tr.cabecalho,
table.tabela tr.cabecalho_favorecidos {
    background-color: rgb(204,224,213);
}

table.tabela tr.impar {
}

table.tabela tr.par {
	background-color: rgb(239,239,241);
}

table.tabela tr th {
    padding: 0.8em 0.5em;
    line-height: 1.3em;
    font-weight: bold;
}

table.tabela tr.titulo th,
table.tabela tr.cabecalho_favorecidos th {
    vertical-align: baseline;
}

table.tabela tr.titulo_cabecalho th,
table.tabela tr.cabecalho th {
    text-align: center;
    vertical-align: middle;
}

table.tabela tr.titulo th a,
table.tabela tr.titulo_cabecalho th a {
	color: #ffffff;
}

table.tabela tr.cabecalho th a,
table.tabela tr.cabecalho_favorecidos th a {
    color: #000000;
}

table.tabela tr td {
    vertical-align: baseline;
    line-height: 1.3em;
    padding: 0.5em 0.5em;
    word-wrap: break-word;
}

table.tabela tr td.campo {
    text-align: center;
}

table.tabela tr td.rotulo,
table.tabela tr td.destaque {
    font-weight: bold;
}

table.tabela tr th.valor,
table.tabela tr td.valor {
    text-align: right;
}

table.tabela tr td.aviso {
    background-color: rgb(255,255,228);
    text-align: right;
}

/* subtabela */

table.subtabela {
    margin: 0em 1em;
	border-collapse: collapse; /* Evita espaços em branco entre células no IE*/
 }

table.subtabela tr.cabecalho {
    background-color: rgb(204,224,213);
}

table.subtabela tr.impar {
	background-color: rgb(224,224,228);
}

table.subtabela tr.par {
	background-color: rgb(208,208,215);
}

table.subtabela tr.cabecalho th {
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    padding: 0.3em 0.5em;
}

table.subtabela tr td {
    vertical-align: baseline;
    padding: 0.5em 0.5em;
}

table.subtabela tr th.valor,
table.subtabela tr td.valor {
    text-align: right;
}


/* destaques */

span.destaque {
    font-weight: bold;
}

span.aviso_lista {
    color: rgb(192,0,0);
}

span.aviso_valor_aproximado {
    color: rgb(0,128,128);
}
