html,body {    
    height: 100%
} 

body {
    background-color: white;
    font-family: Arial;
}

body {min-width: 1004px;}

h1 {
    clear: both;
    font-size: 110%;
    font-weight: bold;
    margin: 0.2em 0.2em 0.2em 16px;
    padding: 0.2em 0.2em 0.2em 0px;
}

h2 {
    clear: both;
    font-size: 90%;
    font-weight: bold;
    margin: 0.2em 0px 0.2em 16px;
    padding: 0.3em 0.3em 0.3em 0px;
}

em {
    color: #003300;
    font-size: 105%;
    font-style: italic;
}

strong {
    font-weight: bold;
}

p, table {
    color: black;
}

p.descricao, p.titulo {
    font-family: Arial;
    text-align: justify;
    line-height: 1.2;
    margin-left: 16px;
    margin-top: 1em;
}

p.descricao {
    font-size: 76%;
}

p.titulo {
    font-size: 90%;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



#site {
    text-align: left;
    font-family: Verdana;
    background-color: #ffffff;
    position: relative;
	padding-bottom: 120px;
    overflow: visible;
    min-height: 100%
}

.site_content {
	width:980px;
	margin: 0 auto;
}

.stickyFooterWrapper {
	min-height: 100%;
}

@media print {
    .stickyFooterWrapper {
        min-height: initial;
    }

    .rodape {
        width: 100%;
        clear: both;
    }
}

/* caminho */

p.caminho {

    /* Posicionamento */
    float: left;

    /* Tamanho */
    width: 62%;
    padding-left: 1%;
    margin-top: -4px;

    /* Fonte */
    font-size: 70%;
}

p.caminho > * {
    line-height: 1.3em;
}

p.caminho span.rotulo {

    /* Fonte */
    font-weight: bold;
    color: #666666;
}

p.caminho span.atual {

    /* Fonte */
    font-weight: bold;
}

p.caminho span.atual,
p.caminho span.anterior {

    /* Fonte */
    white-space: nowrap;
}

p.caminho a {

    /* Fonte */
    text-decoration: none;
    color: #666666;
}

p.caminho a:hover {

    /* Fonte */
    text-decoration: underline;
}

/* rodapé */

p.avisos {
    clear: both;
    text-align: center;
    color: rgb(196,196,196);
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#fontesiafi {
    color: white;
    background-color: rgb(64,140,102);
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    padding: 0.3em;
}

/* exceção / documento inválido / mensagens de erro */

p.excecao,
p.documentoInvalido,
p.mensagensErro {
    clear: both;
    padding: 1em 2em;
    border: 3px dotted red;
    margin: 2em 3em;
}

p.excecao span.mensagem,
p.mensagensErro span.mensagem {
    color: red;
    font-weight: bold;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

#footer-brasil {
    background: none repeat scroll 0 0 #00420c;
    padding: 1em 0;
    max-width: 100%;
}