p.paginacao {
    float: right;
    font-size: 5%;
    font-weight: bold;
}

p.paginacao span.paginaXdeN,
p.paginacao span.primeiraPagina,
p.paginacao span.paginaAnterior,
p.paginacao span.paginaAtual,
p.paginacao span.paginaAoRedor,
p.paginacao span.proximaPagina,
p.paginacao span.ultimaPagina,
p.paginacao span.paginaDireta {
    font-size: 1400%;
	white-space: nowrap;
}

p.paginacao span.paginaXdeN,
p.paginacao span.paginaDireta {
	padding: 10px 6px;
}

p.paginacao span.primeiraPagina,
p.paginacao span.paginaAnterior,
p.paginacao span.paginaAtual,
p.paginacao span.paginaAoRedor,
p.paginacao span.proximaPagina,
p.paginacao span.ultimaPagina {
    padding: 10px 4px;
}

p.paginacao span.paginaXdeN {
	color: white;
    background-color: rgb(64,140,102);
}

p.paginacao span.paginaAtual {
	color: black;
	background: rgb(168,168,168);
}

p.paginacao span.primeiraPagina,
p.paginacao span.paginaAnterior,
p.paginacao span.paginaAoRedor,
p.paginacao span.proximaPagina,
p.paginacao span.ultimaPagina,
p.paginacao span.paginaDireta {
	color: black;
    background-color: rgb(212,212,212);
}
